# Ambientes Virtuais
venv/
env/

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Arquivos de IDE
.vscode/
.idea/

# Variaveis de ambiente
.env

# Tabelas do Algoritmo de Aprendizado por Reforço (Q-Learning)
q_table.pkl
q_table_dinamica.pkl